
.App-logo {
  width: 125px;
  height: 125px;
  margin-bottom: -10px;;
  margin-left: 35px;
  margin-top: -10px;
}

.App-logo-small {
  display: none;
}

@keyframes slideInFromLeft {
  0% {
    /*transform: translateY(-100%);*/
    opacity: 0;
    transform: scale(0,0);
  }
  100% {
    /*transform: translateY(0);*/
    opacity: 100;
    transform: scale(1,1);
  }
}

@media (max-width: 991px) {
  .App-logo {
    display: none;
  }
  .App-logo-small {
    width: 40px;
    height: 40px;
    margin-left: 20px;
    margin-top: 7px;
    margin-bottom: 7px;
    display: block;

  }
}

.headerDash {
  display: block;
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  width: auto;
}


.transactionInput {
  margin-left: 15px;
  margin-top: 20px;
  margin-right: 15px;
}

.transactionButton {
  margin-left: 15px;
  margin-top: 10px;
  margin-right: 15px;
}

.topCards{
  margin-bottom: 10px;
}

.alignment{
  align-items: center!important;
  display: inline-block;
}

.smallCardIcon{
  font-size: 300%;
  float: right;
  margin-top: -3px;
  color: gray;
}

.smallCardTitle{
  color: #35B454;
  font-size: 12px;
  font-family: Nunito,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  font-weight: 700!important;
}

.smallCardContent{
  color: #5a5c69;
  font-size: 20px;
  font-family: Nunito,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  font-weight: 700!important;
}

.dashboardCard {
  margin-bottom: 10px;
}

.slider {

  color:red;


}

.ant-slider-handle {
  color: red;


}


.slider ant-slider-handle {
  color: red;

}

.refreshButton {
  margin-bottom: 8px;
  float: right;
}